// Navigation
div.pure-menu.pure-menu-horizontal.pure-menu-scrollable
    ul.pure-menu-list
        each val in pages
            li.pure-menu-item.nav-item
                a.pure-menu-link(href="#")= val