@mixin single-guest {
    .single-guest {
        padding: 30px;
        background-color: rgba($color: #f9f9f9, $alpha: 1.0);
        border-left: 3px solid rgba($color: #444, $alpha: 1.0);
        border-bottom: 1px dotted rgba($color: #444, $alpha: 0.65);

        .message-container {
            p {
                font-family: 'Roboto', sans-serif;
                font-size: 24px;
            }
        }
        
        .meta-container {
            display: flex;
            margin-top: 10px;

            p {
                font-size: 16px;

                &:first-child {
                    flex: 1;
                }

                &:last-child {
                    margin-left: 10px;
                }
            }
        }
    }
}