#new-message {
    &.container {
        label {
            font-size: 18px;
            padding: 10px 0;
            color: rgba($color: #444, $alpha: 1.0);
            margin-bottom: 10px;

            &.hidden {
                display: none;
            }
        }

        input,
        textarea {
            height: 50px;
            border: 0;
            border-bottom: 2px solid #444;
            border-radius: 0;
            box-shadow: none;
            resize: none;

            &:focus {
                border: 2px solid rgba($color: #444, $alpha: 0.5);
                border-radius: 5px;
                background: rgba($color: #ccc, $alpha: 0.3);
                transition: all 0.2s ease-in-out;
            }
        }

        input,
        textarea {
            width: 100%;
        }

        textarea {
            height: 200px;
            border: 1px dotted rgba($color: #ccc, $alpha: 0.65);
        }

        .submit-btn-container {
            display: flex;
            justify-content: flex-end;
            margin-top: 30px;
        }
    }
}