#home.container p.author {
  font-size: 33px;
  margin-bottom: 5px; }

#home.container p.student-id {
  border-radius: 5px;
  background-color: rgba(255, 105, 97, 0.6);
  display: inline-block;
  padding: 10px 15px;
  margin-bottom: 0;
  margin-top: 10px;
  color: #fff; }

#home .content {
  margin: 10px 0; }
  #home .content p {
    font-size: 20px;
    line-height: 2; }
    #home .content p code {
      color: #ff6961; }

#home .meta .last-entry {
  margin-top: 30px; }
  #home .meta .last-entry .single-guest {
    padding: 30px;
    background-color: #f9f9f9;
    border-left: 3px solid #444444;
    border-bottom: 1px dotted rgba(68, 68, 68, 0.65); }
    #home .meta .last-entry .single-guest p.text {
      font-size: 18px; }
