@import '../utils/variables';

#home {
    &.container {
        p {
            &.author {
                font-size: 33px;
            }
        }
    }

    .content {
        margin: 10px 0;
        p {
            code {
                color: $code-red;
            }
        }
    }
}