extends ../layout.pug
block variables
  - var pages = routes
  - var guestBookEntries = entries

block content
    #guestbook.container
      each entry, index in Object.entries(guestBookEntries)
        - const [key, val] = entry
        - var message = val.message
          include ../partials/guest