extends ../layout.pug
block variables
  - var pages = routes
  - var guestBookEntries = entries

block content
    #guestbook.container
    table
      thead
        tr
          th entry
      tbody
        each entry in guestBookEntries
          td= entry.text