extends ../layout.pug
block variables
  - var pages = routes
  - var format = formatDateFns

block content
  #home.container
    h1= welcomeText
    p.author= author
    p.student-id= studentId
    div.content
      p This application was created for the <code>FullStack</code> course at Laurea, with the coursecode of TO00BS65-3001
    dev.meta
      p Number of guest entries currently: 
        span= numOfGuestBookEntries
      div.last-entry
        - function formatDate(date) { return format(new Date(date), 'yyyy-MM-dd') };
        - const message = lastGuestBookEntry.message
        - const username = lastGuestBookEntry.username
        - const date = formatDate(lastGuestBookEntry.date)
        - const country = lastGuestBookEntry.country
          include ../partials/guest.pug